.container-canvas {
  width: 600px;
  height: 600px;
  background-color: #ccc;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
  border: 1px solid #000;
}
h1 {
  margin: 20px 50px;
}

.solid-border {
  outline: 0.5px solid #000;
}
